---
BasedOnStyle: LLVM
IndentWidth: 4
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
BreakBeforeBinaryOperators: All
SortIncludes: Never
# Cpp11BracedListStyle: true
# BinPackArguments: false
---

